.query-generator {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    max-width: 500px;
    width: 80%;
}
.query-generator > h1 {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    display: flex;
}
.query-display {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 500;
}
.query-input-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#query-description-input {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    resize: none;
}
#query-description-input:focus-visible {
    outline-color: steelblue;
}
.generate-query {
    font-family: "Poppins", sans-serif;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    background-color: hsl(207, 44%, 49%);
    color: white;
    transition: background-color 250ms ease;
    cursor: pointer;
}
.generate-query:hover {
    background-color: hsl(207, 44%, 35%);
}
